bin
gen
.project
.idea
.classpath
.settings
.pmd
default.properties
lint.xml
*.iml
*.ipr
*.iws
target
.idea
out
gen-external-apklibs
classes
com_crashlytics_export_strings.xml
.gradle
local.properties
build
