<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handlerexploit.prime.example"
    android:versionCode="2"
    android:versionName="0.6.1" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".Examples" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewPagerExample"
            android:label="@string/viewpager_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.handlerexploit.prime.example.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListViewExample"
            android:label="@string/listview_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.handlerexploit.prime.example.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GridViewExample"
            android:label="@string/gridview_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.handlerexploit.prime.example.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RemoteStateListExample"
            android:label="@string/statelist_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.handlerexploit.prime.example.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LargeImagesExample"
            android:label="@string/large_images_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.handlerexploit.prime.example.EXAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>